body, button {
  font-family: 'Open Sans', 'sans-serif';
  margin: 0px;
  padding: 0px;
  vertical-align: top;
}

header {
  background-color: #404041;
  text-align: center;
  padding: 10px 5px;
  margin: 0;
}

p h2 { 
  color: #404041; 
}

span {
  color: #ED458B;
}

main {
  text-align: center;
}

h1 {
  margin: 15px 5px;
}

button {
  color: #FFFFFF;
  border: solid;
  background-color: #929497;
  borrder-radius: 25px;
  width: 245px;
  height: 50px;
  margin: 20px 5px 20px;
  font-size: 160%;
}
img {
  height:230px;
  display: none;
  margin: auto;
/*  position: absolute;
  left: 610px;
  top: 390px;*/
}

button:hover {
  background-color: #EB008B;
}

button:disabled {
  background-color: #D0D2D3;
}

input#enter-guess {
  margin: 20px auto 0px;
  width: 500px;
  height: 40px;
  /*why is font size over 100%???*/
  font-size: 130%;
  padding-left: 10px;
}

span.white-text {
  color: #E6E7E8;
  font-weight: 100;
  font-size: 75px;
}

p.number-guessed {
  font-size: 170px;
  margin: 3px;
  font-weight: 200;
}

.nav-title {
  font-size: 325%;
}

#set-minimum, #set-maximum {
  height: 27px;
  padding: 2px;
  font-size: 16px;
}

#reset-button {
  width: 500px;
  height: 40px;
}

#enter-guess {
  display: block;
  margin: auto;
}

#range-button {
  width: 118px;
  height: 40px;
  font-size: 100%;
  border: 0px;
}

.navigation {
  display: inline-block;
  position: absolute;
  left: 0px;
  background-color: #D0D2D3;
  height: 150%;
  top: 152px;
  color: #ED458B;
  width: 20%;
}

.pink-text {
  color: #ED458B;
  font-weight: 700;
  font-size: 75px;
}

.feedback {
  margin: 0px;
}

.feedback2{
  margin: 0px;
}

.bold-pink-text {
  font-weight: 900;
}